



/*  */
.contacto {
	width: 100%;
	height: 100vh;
	background: teal;

	display: flex;
	justify-content: space-around;
	
}
.contacto .datos {
	width: 600px;
	height: 200px;
	background: gold;
	position: relative;
	left: 25px;
}

.contacto .formulario {
	width: 600px;
	height: 200px;
	background: peru;
	position: relative;
	right: 25px;
}